@import "tailwindcss";

.Toastify__progress-bar {
  background-color: #ffffff !important;
  height: 2px !important;
}

@theme {
  --color-green: #3d8d7a;
  --color-light-green: #b3d8a8;
  --color-yellow-white: #fbffe4;
  --color-light-blue: #a3d1c6;
}
